<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="common">
        <aside id="sidebar">
            <div class="sidebar-top">
                <a href="/admin/dashboard/dashboard" class="logo">
                    <img src="/web/images/inout_logo_white.png" alt="InOut">
                    <span>인아웃</span>
                </a>
            </div>
            <nav class="sidebar">
                <div class="overflow-y-scroll">
                    <ul class="dep1">
                        <li class="has-treeview">
                            <a href="javascript:;"><span>내역</span></a>
                            <ul class="dep2">
                                <li><a href="javascript:;"><span >내역</span></a></li>
                            </ul>
                        </li>
                        <li class="has-treeview">
                            <a href="javascript:;"><span>캘린더</span></a>
                            <ul class="dep2">
                                <li><a href="javascript:;"><span >캘린더</span></a></li>
                            </ul>
                        </li>
                        <li class="has-treeview">
                            <a href="javascript:;"><span>통계</span></a>
                            <ul class="dep2">
                                <li><a href="javascript:;"><span >통계</span></a></li>
                            </ul>
                        </li>
                        <li class="has-treeview">
                            <a href="javascript:;"><span>보고서</span></a>
                            <ul class="dep2">
                                <li><a href="javascript:;"><span >보고서</span></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </aside>
    </div>
</html>