<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <th:block th:fragment="commonMetaAndTitle">
        <meta charset="UTF-8">
        <meta http-equiv="x-ua-Compatible" content="IE=edge">
        <title>InOut</title>
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0,  viewport-fit=cover'">
        <meta name="format-detection" content="telephone=no">
    </th:block>

    <th:block th:fragment="commonStyle">
        <link rel="icon" type="image/png" href="/web/images/icon-up-arrow.png" sizes="16x16">
        <link rel="icon" type="image/png" href="/web/images/icon-up-arrow.png" sizes="32x32">

        <!-- 플러그인 관련 css -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="/web/lib/jquery-ui/jquery-ui.min.css">
        <link rel="stylesheet" href="/web/lib/swiper/css/swiper-bundle.min.css">
        <link rel="stylesheet" href="/web/lib/bootstrap-timepicker/css/bootstrap-timepicker.min.css">
        <link rel="stylesheet" href="/web/lib/mCustomScrollbar/jquery.mCustomScrollbar.min.css">
        <link rel="stylesheet" href="/web/lib/fullcalendar/core/main.css">
        <link rel="stylesheet" href="/web/lib/fullcalendar/daygrid/main.css">
        <link rel="stylesheet" href="/web/lib/fullcalendar/timegrid/main.css">
        <link rel="stylesheet" href="/web/lib/jstree/themes/default/style.min.css">
        <!-- 퍼블 css -->
        <link rel="stylesheet" href="/web/css/bootstrap.css">
        <link rel="stylesheet" href="/web/css/style.css">
        <!-- 개발자 css -->
        <!-- <link rel="stylesheet" href="/web/css/additional.css"> -->

        <!-- 플러그인 script (head에서 로딩 엄수) -->
        <script src="/web/lib/jquery/jquery.min.js"></script>
        <script src="/web/lib/jquery-ui/jquery-ui.min.js"></script>
        <script src="/web/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/web/lib/swiper/js/swiper-bundle.min.js"></script>
        <script src="/web/lib/jquery-ui/jquery-ui.min.js"></script>
        <script src="/web/lib/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>
        <script src="/web/lib/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
        <script src="/web/lib/split.js/split.min.js"></script>
        <script src="/web/lib/jstree/jstree.min.js"></script>
    </th:block>

</html>